/* FONTS:
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif; */


body {
   font-family: 'Montserrat', sans-serif;;
   background-color: #fff;
}


#title {
    background-color: #ff4c68;
}

h1 {
    font-family: "Montserrat", sans-serif;;
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 800;
}

.container-fluid {
    padding: 0% 12%;
}

.text-white {
    color: fff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: 700;
    color: white;
    font-size: 4em;

}

p {
    font-weight: 600;
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 100px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: .5rem;
    margin-left: .5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

ul li {
    margin-left: 30px;
    font-size: larger;
}


/* Buttons */

.download-buttons {
    margin: 5% 3% 5% 0%;
    
}


/* Images */

.main-image {
    width: 40%;
    transform: rotate(25deg);
}

.img-right {
    text-align: right;

}

#features {
    padding: 5% 0%;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: +99;
}

.feature-box {
    padding: 0% 5%;
}

.feature-box p {
    margin-top: 18px;
}

.feature-icon {
    padding-bottom: 20px;
    color: #ef8172;
}

.feature-icon:hover {
    color: #ff4c68;
  
}


/* Testimonials */

#testimonials {
    background-color: #ff4c68;
    text-align: center;
    padding: 10% 0 8% 0;
}

.testi-image {
    border-radius: 100%;
    margin: 30px;
    width: 10%;
}

em {
    color: white;
    font-size: 1em;
}


#press {
    text-align: center;
    background-color: #ff4c68;
    padding: 0% 0 4% 0;
}

#press img {
    padding: 0 2% 0 2%;
}

/* Cards */

#pricing {
    padding-top: 30px;
    text-align: center;
    background-color: #fff;
}

.card-above-head {
    font-size: 5rem;
}

.card h4 {
    margin-top: 10px;
    color: black;
    font-weight: 800;
    font-size: 2rem;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.card-body {
    margin-top: 20px;
}

.card .btn {
    background-color: #ff4c68;
    border-color: #ff4c68;
    margin-top: 20px;
    width: 200px;
}
.card h6 {
    padding-top: 5px;
}


.card-above-head {
    font-size: 3rem;
    font-weight: 800;
}
#pricing p {
    font-size: larger;
}

#cta {
    text-align: center;
    padding-top: 10%;
    color: #fff;
    font-weight: 900;
    background-color: #ff4c68;
}

#cta h3 {
    font-size: 4em;
}

#footer {
    text-align: center;
    background-color: #fff;
}

#footer p {
    color:black
    font-size: 1em;
    padding: 2%;
}

.foot-icons {
    color: inherit;
    padding-top: 3%;
}


a {
    color: inherit;
    margin: 0 1% 2% 1%;
}


a:hover {
    color: #ff4c68
}


@media (max-width: 1028px) {

    .main-image {
        position: static;
        transform: rotate(0);
        width: 50%;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .btn {
    text-align: center;  
    }
}

